<footer id="footer" class="footer wf-section">
    <div class="basic-container footer-container w-container">
      <div class="footer-flex-container">
        <div class="contactpopupholder">
          <div class="contact-us-pop-up">
            <h1 class="contact-us-pop-up-heading">Contact Us</h1>
            <div class="form-block w-form">
              <form id="email-form" name="email-form" data-name="email" action="https://businessbutler.us20.list-manage.com/subscribe/post?u=21985a786ea5b782f328daaa0&amp;amp;id=67d58915e6" method="post" class="form-center" data-ajax="true"><input type="text" class="text-field-2 center w-input" maxlength="256" name="FNAME" data-name="FNAME" placeholder="Name" id="FNAME" required=""><input type="email" class="text-field-2 center w-input" maxlength="256" name="EMAIL" data-name="EMAIL" placeholder="Email" id="EMAIL" required=""><input type="text" class="text-field-2 center w-input" maxlength="256" name="SUBJECT" data-name="SUBJECT" placeholder="Phone" id="SUBJECT"><textarea id="MESSAGE" name="MESSAGE" maxlength="5000" data-name="MESSAGE" placeholder="Type your message here" class="text-field-2 text-area center w-input"></textarea>
                <div class="div-block-40">
                  <div class="button-overlay-contact hero-contact"></div><input type="submit" value="Send" data-wait="Please wait..." data-w-id="8f8b6175-f92c-83e9-c557-778347feed4f" class="submit-button w-button">
                </div>
              </form>
              <div class="success-message w-form-done">
                <div>Thank you! Your submission has been received!</div>
              </div>
              <div class="error-message w-form-fail">
                <div>Oops! Something went wrong while submitting the form</div>
              </div>
            </div><img src="/assets/images/close-button.svg" loading="lazy" data-w-id="24a3bcd9-2c55-35b9-318c-3a00cbebdbb1" alt="" class="contact-popup-close-button">
          </div>
        </div>
        <a href="#" class="footer-logo-link"><img src="/assets/images/logo-removebg-preview.png" data-sizes="[{&quot;max&quot;:479,&quot;size&quot;:&quot;8vw&quot;},{&quot;max&quot;:10000,&quot;size&quot;:&quot;10vw&quot;}]" alt="" class="footer-image"></a>
        <div>
          <h2 class="footer-heading"><strong class="bold-text">Support</strong></h2>
          <ul role="list" class="w-list-unstyled">
            <li>
              <a href="/" aria-current="page" class="footer-link w--current"><strong>Home</strong></a>
            </li>
            <li>
              <a href="/nest-privacy-policy" class="footer-link"><strong>Privacy Policy</strong></a>
            </li>
            <li>
              <a href="/nest-terms-of-service" class="footer-link"><strong>Terms of Service</strong></a>
            </li>
            <li>
              <a data-w-id="b55162c0-b985-121f-43b6-a928ea281706" href="#" class="footer-link-contact-us"><strong>Contact Us</strong></a>
            </li>
          </ul>
        </div>
        <div class="div-block-14">
          <h2 class="footer-heading">Disclaimer</h2>
          <p class="paragraph-9">We are not a medical service or suicide prevention helpline. If you are feeling suicidal, we would suggest you immediately call up a suicide prevention helpline - eg Vandrevala Foundation Helpline - 1 860 266 2345 (24x7), Aasra - +91 22 2754 6669 (24x7)..</p>
        </div>
        <div>
          <h2 class="footer-heading">Join Nest</h2>
          <p class="paragraph-8 paragraph-9">Request an invite to join Nest as an expert or mentor</p>
          <div class="div-block-5">
            <a href="#" data-w-id="b55162c0-b985-121f-43b6-a928ea281714" class="link-color-button hero hero-section w-inline-block">
              <div class="button-overlay hero"></div>
              <div class="button-text-2">Join as mentor or expert</div>
            </a>
          </div>
        </div>
      </div>
      <div class="text-block-7">Copyright ©2022 All rights reserved | JoinNest.io</div>
    </div>
  </footer>